<a href="https://colab.research.google.com/github/ThanisornJ/269281-Midterm/blob/main/269281_Midterm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 269281 Midterm Review

In [34]:
text = input("Please fill in the blank: ")
print(text)

Please fill in the blank: Hello World
Hello World

In [32]:
text = int(input("Please fill in the blank: "))
# text = int(text)
print(text + 1)

Please fill in the blank: 1
2

In [33]:
text = float(input("Please fill in the blank: "))
# text = int(text)
print(text + 1)

Please fill in the blank: 1
2.0

In [37]:
print(-10 % 3)

2

In [43]:
print( 1 or 0 )

1

In [46]:
text = "Hello"
text2 = "World"
print(text + text2)

HelloWorld

In [47]:
textLength = "Chiang Mai University"
print(len(textLength))

21

In [56]:
print(1,2,3)

print("New Line", end="++++++")

print("Hello")

print("Hello"+"world")
print("Hello","world")

1 2 3
New Line++++++Hello
Helloworld
Hello world

In [62]:
text = "CMU 123"

print(text[0])

print(text[-1])

#slicing 
print(text[0:3]) # [0,1,2]
# CMU

print(text[:3]) # [0,1,2]
# CMU

print(text[3:]) # [3,4,5,....]
#  123

C
3
CMU
CMU
 123

In [74]:
# String Format

print("{} {} {}".format(1,10,100))

print("{:.8f}".format(1))

print("-->{:4d}<--".format(1000))
print("-->{:4d}<--".format(700))

print("-->{:4d}<--".format(70000))

1 10 100
1.00000000
-->1000<--
--> 700<--
-->70000<--

In [78]:
# ESCAPE SEQUENCES

print("Chiang Mai\nUniversity")

print("Chiang Mai\\University")

print("Chiang Mai\tUniversity")

Chiang Mai
University
Chiang Mai\University
Chiang Mai	University

In [97]:
# List

l = [1,2,3,"Box"]

print(len(l[3]))

l.append(7) # ใส่ได้ทีละตัว
print(l)

l.extend([8,9,10]) # ใส่ได้พร้อมกันหลายๆตัว
print(l)

# Nested
# list ซ้อนกันหลายๆตัว

l =  ["Happy", [2,0,1,5], ['x'], 4]
print(l)

l.insert(0,4) # insert(ตำแหน่ง index ที่ต้องการ , ค่าที่ต้องการ)
print(l)

l.remove(4) # ลบเลข 4 ออก ตัวแรกที่เจอ ซ้าย -> ขวา

print(l)

l.pop(0) # เอา index 0 ออก
print(l)

# สร้างตัวแปรใหม่
k = l.copy()
print("K is: ",k)
k.pop(0)
print("K is:",k)
print("l is:",l)

3
[1, 2, 3, 'Box', 7]
[1, 2, 3, 'Box', 7, 8, 9, 10]
['Happy', [2, 0, 1, 5], ['x'], 4]
[4, 'Happy', [2, 0, 1, 5], ['x'], 4]
['Happy', [2, 0, 1, 5], ['x'], 4]
[[2, 0, 1, 5], ['x'], 4]
K is:  [[2, 0, 1, 5], ['x'], 4]
K is: [['x'], 4]
l is: [[2, 0, 1, 5], ['x'], 4]

In [103]:
# IF ELSE

age = 31
if age < 20:
  print("age less than 20")
elif age < 25:
  print(" Age is less than 25")
else:
  print("age is 25+")

# nested if else

if age <35:
  if age >30:
    print("age between 31-34")
  else:
    print("age less than 30")
else:
  print("age is 35+")

age is 25+
age between 31-34

In [113]:
# While Loop

i = 0
while i < 10:
  print(i)
  i+=1

# for Loop

for i in range(0,10,2): # range(start , end, step)
  print(i)

0
2
4
6
8

In [114]:
# Lab 7.3 Option 1
z = 'Y'

while z == 'Y':
  x = int(input('Enter x: '))
  y = int(input('Enter y: '))
  print('x%y =',x % y)
  z = input('Would you like to continue? (Y/N): ')
  while z != 'Y' and z != 'N':
    z = input('Would you like to continue? (Y/N): ')
print('End of program')

Enter x: 5
Enter y: 6
x%y = 5
Would you like to continue? (Y/N): n
Would you like to continue? (Y/N): n
Would you like to continue? (Y/N): s
Would you like to continue? (Y/N): d
Would you like to continue? (Y/N): Y
Enter x: 4
Enter y: 5
x%y = 4
Would you like to continue? (Y/N): N
End of program

In [115]:
# Lab 7.3 Option 2 

z = 'Y'
while z != 'N':
  if z == 'Y':
    x = int(input('Enter x: '))
    y = int(input('Enter y: '))
    print('x%y =',x % y)
    z = input('Would you like to continue? (Y/N): ')
  else:
    z = input('Would you like to continue? (Y/N): ')
print('End of program')

Enter x: 3
Enter y: 4
x%y = 3
Would you like to continue? (Y/N): r
Would you like to continue? (Y/N): s
Would you like to continue? (Y/N): w
Would you like to continue? (Y/N): y
Would you like to continue? (Y/N): n
Would you like to continue? (Y/N): Y
Enter x: 8
Enter y: 6
x%y = 2
Would you like to continue? (Y/N): N
End of program

In [117]:
# Lab 7.5 option 1

n = 1
x = []
k = 0

while n != -1:
    n = float(input('data[{}] = '.format(k)))
    x.append(n)
    k += 1


print(x[:-1])
print('Total sum: {:.2f}'.format(sum(x[:-1])))
print('Average: {:.2f}'.format(sum(x[:-1])/len(x[:-1])))

data[0] = 1
data[1] = 2
data[2] = 3
data[3] = 4
data[4] = 5
data[5] = -1
[1.0, 2.0, 3.0, 4.0, 5.0]
Total sum: 15.00
Average: 3.00

In [120]:
# Lab 7.5 option 2

n = 1
x = []


while n != -1:
    n = float(input('data[{}] = '.format(len(x))))
    x.append(n)
    


print(x[:-1])
print('Total sum: {:.2f}'.format(sum(x[:-1])))
print('Average: {:.2f}'.format(sum(x[:-1])/len(x[:-1])))

data[0] = 1
data[1] = 2
data[2] = 3
data[3] = 4
data[4] = 5
data[5] = -1
[1.0, 2.0, 3.0, 4.0, 5.0]
Total sum: 15.00
Average: 3.00

In [ ]:
# Lab 7.5 option 3
n = 1
x = []


while n != -1:
    n = float(input('data[{}] = '.format(len(x))))
    if(n != -1):
      x.append(n)
    


print(x)
print('Total sum: {:.2f}'.format(sum(x)))
print('Average: {:.2f}'.format(sum(x)/len(x)))

# Part P'Arm

In [1]:
print("Displaying even numbers from 0 to n")
n = int(input("Enter n: "))
for i in range(0,n+1,2):
    print(i,end=" ")

Displaying even numbers from 0 to n
Enter n: 8
0 2 4 6 8

In [2]:
print("Displaying even numbers from 0 to n")
n = int(input("Enter n: "))
for i in range(0,n+1,2):
    print(i,end=" ")

Displaying even numbers from 0 to n
Enter n: 13
0 2 4 6 8 10 12



---

In [3]:
print("Displaying even numbers from m to n")
m = int(input("Enter m: ")) # add the start number
n = int(input("Enter n: "))
for i in range(m,n+1,2):
    print(i,end=" ")

Displaying even numbers from m to n
Enter m: 0
Enter n: 13
0 2 4 6 8 10 12

In [4]:
print("Displaying even numbers from m to n")
m = int(input("Enter m: ")) # add the start number
n = int(input("Enter n: "))
for i in range(m,n+1,2):
    print(i,end=" ")

Displaying even numbers from m to n
Enter m: 1
Enter n: 13
1 3 5 7 9 11 13

In [5]:
print("Displaying even numbers from m to n")
m = int(input("Enter m: ")) # add the start number
n = int(input("Enter n: "))
for i in range(m,n+1):
    if i%2 == 0: # if (i%2 != 0) for odd number  
      print(i,end=" ")

Displaying even numbers from m to n
Enter m: 1
Enter n: 13
2 4 6 8 10 12